<div class="grid justify-content-center card">
  <div class="col-10 md:col-6 lg:col-4 sm:flex-nowrap">
    <p-card>
      <div class="grid">
        <div class="col-12 text-center">
            <h2 class="text-center">Car Sales Login</h2></div>
        <div class="col-12">
          <label for="">Usuário:</label>
          <input [(ngModel)]="requestLogin!.login" type="text" class="col-12" pInputText />
        </div>
        <div class="col-12">
          <label for="">Senha:</label>
          <input [(ngModel)]="requestLogin!.password" type="password" class="col-12" pInputText />
        </div>
        <div class="col-12">
          <button (click)="doLogin()" pButton type="button" label="Entrar" class="col-12"></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
